* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
}
.timer {
  display: flex;
  justify-content: center;
}
.timer_block {
  padding: 30px;
}
.time {
}
.buttons {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.button {
  padding: 20px;
  margin-inline: 10px;
}
